# copy to: /etc/systemd/system/tsooyts.service

[Unit]
Description=Tsooyts Page Display
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/Documents/tsooyts/.venv/bin/tsooyts
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
